
@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-button-prev{
    width: 50px;
    height: 50px;
    background-color: #0d6682 !important;
    border-radius:50%;
    padding: 40px;
    color:#FFF;
    font-size:18px;
    margin-top:-75px;
    opacity: 0;
}
.swiper-button-next{
  width: 50px;
  height: 50px;
  background-color: #0d6682 !important;
  border-radius:50%;
  padding: 40px;
  color:#FFF;
  font-size:18px;
  margin-top:-75px;
 opacity:0;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper:hover .swiper-button-next, .swiper:hover .swiper-button-prev{ 
    opacity: 1;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination{
    display: none !important;
}
#actions{
  display:flex;
  align-items: center;
  justify-content: center;
  margin:-20px;
  margin-top: 10px;
}
#actions div {
  border: 1px solid #CCC;
  height:100%;
  padding:15px;
  
}
#actions i{
  font-size: 25px;

}
.card-img-top:hover{
  cursor:pointer !important;
}