<swiper
    [slidesPerView]="4"
    [spaceBetween]="28"
    [slidesPerGroup]="2"
    [loop]="true"
    [loopFillGroupWithBlank]="false"
    [pagination]="{
      clickable: false
    }"
    [navigation]="true"
    class="swiper"
  >
    <ng-template *ngFor="let product of products" swiperSlide >
        <div class="card" style="width:100%;height:425px;">
          <div routerLink="/product/{{ product.uuid }}" *ngIf="!product.thumbnail" class="card-img-top" style="height:250px; background-position: center; background-size: cover; background-repeat: no-repeat; background-image: url(assets/images/product.png);width: 100%;"></div>
          <div routerLink="/product/{{ product.uuid }}"  *ngIf="product.thumbnail" class="card-img-top" style="height:250px; background-position: center; background-size: cover; background-repeat: no-repeat; background-image: url({{API_ENDPOINT + '/files/products/' + product.thumbnail}});width:100%;"></div>
            <div class="card-body">
                <h2 class="card-title" style="font-size:18px"><strong>{{ product.title}}</strong></h2>
                <h6 class="card-subtitle text-center">{{ product.price }}<img style="height:25px;width:25px; margin:auto;" src="assets/images/eom-coin-transparent.png" alt=""></h6>
                <div id="actions" class="row" style="position:absolute; bottom:20px;width:100%;">
                  <div class="col-md-3 text-center" (click)="favorite(product)">
                      <i class="fa-regular fa-heart text-primary"></i>
                  </div>
                  <div routerLink="/profile/{{product.user.id }}" class="col-md-3 text-center">
                      <i class="fa-regular fa-user text-primary"></i>
                  </div>
                  <div (click)="openTwin(product.user.id)" class="col-md-3 text-center">
                      <i class="fa-regular fa-message text-primary"></i>
                  </div>
                  <div class="col-md-3 text-center">
                      <i class="fa-solid fa-share text-primary"></i>
                  </div>
              </div>
            </div>
            <div *ngIf="product.type < 3" class="bg-primary pl-4 pr-4 pt-2 pb-2 text-white" style="border-radius:30px;position:absolute; top:7px; right:7px;">
              <span *ngIf="product.type == 1"><i class="fa-solid fa-shop"></i>&nbsp;PRODUCTO</span>
              <span *ngIf="product.type == 2"><i class="fa-solid fa-bell-concierge"></i>&nbsp;SERVICIO</span>
          </div>
          <div *ngIf="product.type > 2"class="bg-success pl-4 pr-4 pt-2 pb-2 text-white" style="border-radius:30px;position:absolute; top:7px; right:7px;">
            <span *ngIf="product.type == 3"><i class="fa-solid fa-shop"></i>&nbsp;PRODUCTO</span>
            <span *ngIf="product.type == 4"><i class="fa-solid fa-bell-concierge"></i>&nbsp;SERVICIO</span>
        </div>
        </div>
    </ng-template>
  </swiper>