<swiper
    [slidesPerView]="4"
    [spaceBetween]="30"
    [slidesPerGroup]="1"
    [loop]="true"
    [loopFillGroupWithBlank]="false"
    [pagination]="{
      clickable: false
    }"
    [navigation]="false"
    class="swiper"
  >
    <ng-template *ngFor="let product of products" swiperSlide >
        <div class="card">
            <img class="card-img-top" src="assets/images/product.png">
            <div class="card-body">
                <h2 class="card-title" style="font-size:18px"><strong>{{ product.title}}</strong></h2>
                <h6 class="card-subtitle">{{ product.price }}</h6>
            </div>
        </div>
    </ng-template>
  </swiper>