#main-header, #main-header nav{
    height: 60px;
    padding:0;
    background-color:#FFF;
}

#logo{
    max-width: 100%;
}
#secondary-nav{
    background-color:#0d6682;
    color:#FFF;
    padding:15px;
}
