<header id="main-header" style="overflow:hidden !important">
    <nav class="navbar navbar-expand-lg" style="padding:0 !important; ">
        <div class="row" style="padding:0 !important;">
            <div style="max-width:25% !important;width:100% !important;">
                <img routerLink="/" class="p-5 c-pointer" id="logo" src="assets/images/logo-black.png" alt="">
            </div>
            <div class="col-12 col-md-2">

            </div>
            <div class="col-12 col-md-2">
                
            </div>
            <div *ngIf="!identity" class="col-12 col-md-4 d-flex align-items-center justify-content-end" style="margin:0px; padding:0 ">
                <button routerLink="/login" class="btn d-flex align-items-center justify-content-center text-white" style="background-color:#0075b0;max-width: 100%; width:100%;height: 80px !important;"><span style="margin-top:0px">Ingresar</span></button>
            </div>
            <div *ngIf="identity" class="float-right col-12 col-md-3 d-flex align-items-center justify-content-center" style="padding:0; margin-right:0;">
                <button class="btn d-flex align-items-center justify-content-center text-darken" style="background-color:#CCCCCC !important;max-width: 100% !important; width:100%; height:80px;margin-right:0px !important;">
                    <img src="assets/images/eom-coin-transparent.png" alt="" style="width:35px">&nbsp;{{ account?.balance }}
                </button>
            </div>
            <div *ngIf="identity" class="float-right col-12 col-md-1 d-flex align-items-center justify-content-center" style="margin:0px; padding:0;margin-left:-10px; ">
                <button class="btn d-flex align-items-center justify-content-center" routerLink="/notifications">
                    <i class="simple-icon-bell" style="color:#0075b0 !important; font-size:25px"></i>
                </button>
            </div>
            
            <div *ngIf="identity" class="float-right col-12 col-md-1 d-flex align-items-center justify-content-center" style="padding:0; margin-right:0;">
                <button (click)="showMenu()" class="btn d-flex align-items-center justify-content-center text-white" style="background-color:#0075b0 !important;max-width: 100% !important; width:100%; height:80px;margin-right:0px !important;">
                    <i class="simple-icon-menu p-2" style="color:white!important; font-size:25px"></i>
                </button>
            </div>
        </div>
        <div id="dropdown" *ngIf="menu" class="dropdown-menu d-block" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-white" routerLink="/publish-product" style="background-color:#6dbe65"> <i class="glyph-icon simple-icon-plus" style="margin-top:10px;"></i> Subir Producto</a>
          <a class="dropdown-item" routerLink="/">Home</a>
          <a class="dropdown-item" routerLink="/profile">Perfil</a>
          <a class="dropdown-item" href="#">Favoritos</a>
          <a class="dropdown-item" (click)="onSignOut()" href="#">Salir</a>
        </div>
      </nav>
</header>
<div id="secondary-nav">
    <div class="row">
            <div class="col-3 text-center text-white "><i class="simple-icon-arrow-up-circle"></i> +123.15</div>
            <div class="col-3 text-center text-white"><i class="simple-icon-arrow-down-circle"></i> -10.43%</div>
            <div class="col-3 text-center text-white">Total <img style="height:25px;width:25px;" src="assets/images/eom-coin-transparent.png" alt="">1,543,712 </div>
            <div class="col-3 text-center text-white">En línea <i class="simple-icon-user"></i> 1235</div>
    </div>
</div>