<header id="main-header" style="overflow:hidden !important">
    <nav class="navbar navbar-expand-lg" style="padding:0 !important; ">
        <div class="row" style="padding:0 !important;">
            <div class="col-12 col-md-3">
                <img routerLink="/" class="p-5 c-pointer" id="logo" src="assets/images/logo-black.png" alt="">
            </div>
            <div *ngIf="identity" class="col-12 col-md-4 d-flex align-items-center justify-content-center">
                <div class="container" style="background-color:#f5f5f5;">
                    <form #formSearch="ngForm" style="width:100%;">
                        <div class="row d-flex align-items-center">
                            <div class="col-9 col-md-10 d-flex align-items-center">
                                <input required name="search" ngModel  type="text" class="form-control" placeholder="¿Qué estás buscando?" style="background-color:#f5f5f5;border:none;">
                            </div>
                            <div class="col-1 col-md-2 d-flex align-items-center">
                                <button type="submit" [disabled]="formSearch.invalid" (click)="searching(formSearch.value)" class="btn text-primary" style="font-size:25px;">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div *ngIf="!identity" class="col-md-7"></div>
            <div *ngIf="!identity" class="col-12 col-md-2 d-flex align-items-center justify-content-end" style="margin:0px; padding:0 ">
                <button routerLink="/login" class="btn d-flex align-items-center justify-content-center text-white" style="background-color:#0075b0;max-width: 100%; width:100%;height: 80px !important;"><span style="margin-top:0px">Ingresar</span></button>
            </div>
            <div *ngIf="identity" class="float-right col-12 col-md-2 d-flex align-items-center justify-content-center" style="">
                <button class="btn d-flex align-items-center justify-content-center text-white" style="background-color:#0075b0 !important;max-width: 100% !important; width:100%; height:80px;margin-right:0px !important;">
                    <img style="height:25px;width:25px;" src="assets/images/eom-coin-transparent.png" alt="">&nbsp;<strong>{{ account?.balance }}</strong>
                </button>
            </div>
            <div *ngIf="identity" class="float-right col-4 col-md-1 d-flex align-items-center justify-content-center" style="margin:0px; padding:0;margin-left:-10px; ">
                <button routerLink="/twins" class="btn d-flex align-items-center justify-content-center">
                    <i class="fa-regular fa-message text-primary" style="color:#0075b0 !important; font-size:25px"></i>
                 
                </button>
            </div>
            <div *ngIf="identity" class="float-right col-4 col-lg-1 d-flex align-items-center justify-content-center" style="position:relative;margin:0px; padding:0;margin-left:-15px; ">
                <button class="btn d-flex align-items-center justify-content-center" routerLink="/notifications">
                    <i class="simple-icon-bell" style="color:#0075b0 !important; font-size:25px"></i>
                    <div *ngIf="notifications > 0" class="d-flex align-items-center justify-content-center bg-warning text-darken" style="position:absolute; bottom:40px; right:25px; z-index:9999999; border-radius:50%;width:30px;height:30px;color:#000000"><span>{{ notifications }}</span></div>
                </button>
               
            </div>
            <div *ngIf="identity" class="float-right col-4 col-lg-1 d-flex align-items-center justify-content-center" style="margin:0;padding:0;margin-right:-5px;">
                <button (click)="showMenu()" class="btn d-flex align-items-center justify-content-center text-white" style="background-color:#0075b0 !important;max-width: 100% !important; width:100%; height:80px;margin-right:-15px !important;">
                    <i class="simple-icon-menu p-2" style="color:white!important; font-size:25px"></i>
                </button>
            </div>
            
        </div>
        <div id="dropdown" *ngIf="menu" class="dropdown-menu d-block" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-white" routerLink="/publish-product" style="background-color:#6dbe65"> <i class="glyph-icon simple-icon-plus" style="margin-top:10px;"></i> Subir Producto</a>
          <a class="dropdown-item" routerLink="/">Home</a>
          <a class="dropdown-item" routerLink="/profile">Perfil</a>
          <a class="dropdown-item" routerLink="/favorites">Favoritos</a>
          <a class="dropdown-item" (click)="onSignOut()" href="#">Salir</a>
        </div>
      </nav>
</header>
<div id="secondary-nav">
    <div class="row">
            <div class="col-3 text-center text-white d-flex align-items-center justify-content-center"><span><i class="simple-icon-arrow-up-circle"></i> +123.15</span></div>
            <div class="col-3 text-center text-white d-flex align-items-center justify-content-center"><span><i class="simple-icon-arrow-down-circle"></i> -10.43%</span></div>
            <div class="col-3 text-center text-white d-flex align-items-center justify-content-center"><div class="container-fluid">
                Total <img style="height:25px;width:25px;" src="assets/images/eom-coin-transparent.png" alt="">1,543,712
            </div> </div>
            <div class="col-3 text-center text-white d-flex align-items-center justify-content-center"><span>En línea <i class="simple-icon-user"></i> 1235</span></div>
    </div>
</div>