<eom-header></eom-header>
<div class="container" style="margin-top:150px;">
    <h1><strong>Tus twins</strong></h1>
    <div class="row">
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item text-center">
                    <strong>Twins</strong>
                </li>
                <li *ngFor="let twin of twinsData" class="list-group-item"  (click)="openTwin(twin.id);">
                    <div *ngIf="identity.id == twin.from.id" class="container">
                        <img *ngIf="!twin.to.profile.avatar" src="assets/images/avatar.png" alt="" style="width:40px;">
                        <img *ngIf="twin.to.profile.avatar" [src]="apiUrl + '/files/avatars/' + twin.to.profile.avatar" alt="" style="width:60px;border-radius:50%;">
                        {{ twin.to.profile.first_name }} {{ twin.to.profile.last_name }} <br>
                        {{ twin.created_at | date: 'dd/MM/yyyy' }}

                        
                    </div>
                    <div *ngIf="identity.id != twin.from.id" class="container" (click)="openTwin(twin.id);">
                        <img *ngIf="!twin.from.profile.avatar" src="assets/images/avatar.png" alt="" style="width:40px;">
                        <img *ngIf="twin.from.profile.avatar" [src]="apiUrl + '/files/avatars/' + twin.from.profile.avatar" alt="" style="width:60px;border-radius:50%;">
                        {{ twin.from.profile.first_name }} {{ twin.from.profile.last_name }} <br>
                        {{ twin.created_at | date: 'dd/MM/yyyy'}}
                    </div>
                </li>
                
            </ul>
        </div>
        <div class="col-8">
            <div *ngIf="twin" class="card">
                <div class="card-body">
                    <h4 *ngIf="identity.id != twin.from.id" class="card-title">
                        {{ twin.from.profile.first_name }} {{ twin.from.profile.last_name }} <br>
                        
                    </h4>
                    <h4 *ngIf="identity.id == twin.from.id" class="card-title">
                        {{ twin.to.profile.first_name }} {{ twin.to.profile.last_name }} <br>
                    </h4>
                    <hr style="border-color :#CCCCCC;">
                    <div class="container" style="clear:both;">
                        <div *ngFor="let message of messages" class="container-fluid" style="clear:both;">
                            <div *ngIf="identity.id != message.from.id" class="row mt-4 mb-4 p-2">
                                <div class="col-1">
                                    <img *ngIf="message.to.profile.avatar" [src]="apiUrl + '/files/avatars/' + message.from.profile.avatar" alt="" style="width: 100%;border-radius:50%;"> 
                                    <img *ngIf="!message.to.profile.avatar" src="assets/images/avatar.png" alt="" style="width: 100%;"> 
                                </div>
                                <div class="col-8" style="padding:30px;background-color:#d3d3d3; border-radius:30px;">
                                    <p>{{ message.content }}</p>
                                </div>
                            </div>
                            <div *ngIf="identity.id == message.from.id" class="row mt-4 mb-4 ml-auto p-2">
                               
                                <div class="col-8" style="padding:30px;background-color:#f5f5f5; border-radius:30px;">
                                    
                                    
                                    {{ message.content }}
                                </div>
                                <div class="col-1">
                                    <img *ngIf="message.from.profile.avatar" [src]="apiUrl + '/files/avatars/' + identity.profile.avatar" alt="" style="width: 100%;border-radius:50%;"> 
                                    <img *ngIf="!message.from.profile.avatar" src="assets/images/avatar.png" alt="" style="width: 100%;"> 
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <form #sendMessage="ngForm" (ngSubmit)="message(sendMessage.value )" style="width:100% !important;">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-10">
                                                <input name="content" [(ngModel)]="message_content" type="text" class="form-control" placeholder="Escribe tu mensaje">
                                        
                                            </div>
                                            <div class="col-2">
                                                <button type="submit" class="btn btn-primary">ENVIAR</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>