<app-navbar></app-navbar>
<div class="row">
    <div class="col-1">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-11" style="margin-top:100px;">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card" style="background-image:url(assets/images/dashboard/reports-1.jpg)">
                    <div class="card-body">
                        <h2 class="card-title text-white">
                          Tickets
                        </h2>
                        <p class="card-text text-white">
                            En este apartado podrás ingresar al panel de tickets de nuestra plataforma.
                        </p>
                        <button class="btn btn-outline-light text-white border-white">
                            VER MIEMBROS
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

