<div class="row p-5" style="background-color:#FFF !important;">
    <div class="col-12 text-center d-flex align-items-center justify-content-center">
        <img src="assets/images/eom-coin-transparent.png" alt="" style="width:150px;">
        
    </div>
    <div class="col-12 text-center d-flex align-items-center justify-content-center">
        <h1 class="text-primary"><strong>¡Gana más activos!</strong></h1>
    </div>
</div>
<div class="row bg-inverse text-light p-5" style="background-color:#292b2c;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 d-flex align-items-center">
                <p>El Otro Mercado® Talentos Activos · Todos los derechos reservados. 2022 <br>
                    Aviso de Privacidad · Querétaro, México · contacto@elotromercado.com</p>
            </div>
            <div class="col-12 col-md-6 text-right d-flex justify-content-end">
                <ul style="clear:both;">
                    <li class="d-flex align-items-center justify-content-center"><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li class="d-flex align-items-center justify-content-center"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="d-flex align-items-center justify-content-center"><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                    <li class="d-flex align-items-center justify-content-center"> <a href="#"><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
