
body{
    background-color:#ededed !important;
}
button{
    border-radius:0 !important;
}
.form-control{
    border-radius: 30px !important;
}
.btn.btn-primary, .bg-primary{
    background-color: #0d6682 !important;
    background: #0d6682 !important;
}
