#registers, #confirmeds, #boughts, #sales {
    border-right: 1px solid #CCCCCC;
}
#users .options{
    list-style: none;
    margin:0;
    padding:0;
    position: absolute;
    top: 18px;
    right:25px;
}
#users .options li{
    display: inline-block;
    margin:5px; 
}
#users i{
    font-size: 56px;
}
/*
*/
#posts .options{
    list-style: none;
    margin:0;
    padding:0;
    position: absolute;
    top: 18px;
    right:25px;
}
#posts .options li{
    display: inline-block;
    margin:5px; 
}
#posts i{
    font-size: 56px;
}