<app-navbar></app-navbar>
<div class="row">
    <div class="col-1">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-11" style="margin-top:100px;">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card" style="background-image:url(assets/images/dashboard/transactions-1.jpg)">
                    <div class="card-body">
                        <h2 class="card-title text-white">
                          Productos y Servicios
                        </h2>
                        <p class="card-text text-white">
                            En este apartado podrás ingresar al panel de productos y servicios de nuestra plataforma.
                        </p>
                        <button class="btn btn-outline-light text-white border-white" routerLink="/dashboard/transactions/posts">
                            VER PRODUCTOS Y SERVICIOS
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card" style="background-image:url(assets/images/dashboard/transactions-2.jpg)">
                    <div class="card-body">
                        <h2 class="card-title text-white">
                            Ventas
                        </h2>
                        <p class="card-text text-white">
                            En este apartado podrás ingresar al panel de Ventas de nuestra plataforma.
                        </p>
                        <button class="btn btn-outline-light text-white border-white">VER VENTAS</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card" style="background-image:url(assets/images/dashboard/members-2.jpg)">
                    <div class="card-body">
                        <h2 class="card-title text-white">
                            Compras
                        </h2>
                        <p class="card-text text-white">
                            En este apartado podrás ingresar al panel de Compras de nuestra plataforma.
                        </p>
                        <button class="btn btn-outline-light text-white border-white">VER COMPRAS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

