<div class="container-fluid d-flex align-items-center" style="background-color:#FFF; border: 1px solid #f5f5f5;height:80px;">
    <div class="row">
        <div class="col-12">
            <img src="assets/images/logo-black.png" alt="" style="width:20%;">
        </div>
    </div>
</div>
<section id="register" class="d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-12 p-5 text-center d-flex align-items-center justify-content-center">
                <form #newClient="ngForm" (ngSubmit)="onSubmit(newClient.value) " style="width:100%">
                <div *ngIf="step > 0.99 && step < 2" style="width:35%; margin:auto;">
                    <img class="mt-2 mb-2" src="assets/images/eom-coin-transparent.png" alt="" style="width:20%">
                    <br>
                    <h2><strong>Regístrate en 3 sencillos pasos </strong></h2>
                    <br>
                    <div class="form-group">
                        <input (change)="ChangeEmail()" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" [(ngModel)]="user.email" name="email" type="email" class="form-control form-control-register" placeholder="Email*" required >
                        
                        <p *ngIf="msgEmail" style="font-size:10px; color: rgb(239,60,57)" class="text-left">El email que has ingresado es inválido </p>
                    </div>

                    <div class="form-group" style="position:relative;" class="">
                        <img (click)="noViewPassword();" *ngIf="passwordType == 'text' " src="assets/images/no-eyes.png" alt="" style="width:20px;position:absolute;font-size:20px;right:10px;top:8px;">
                        <i *ngIf="passwordType == 'password' " (click)="viewPassword()" class="glyph-icon simple-icon-eye" style="position:absolute;font-size:20px;right:10px;top:8px;"></i>
                        <input (change)="ConfirmPassword()" [(ngModel)]="user.password" name="password" type="{{ passwordType }}" class="form-control form-control-register" placeholder="Contraseña*" required>
                    </div>
                    <div class="form-group">
                        <p class="text-secondary text-left" style="font-size:10px;">Mínimo 8 carácteres. Incluye: letras, números y  símbolos especiales. <br> <strong>¡Guarda tu contraseña en un lugar seguro!</strong></p>
                    </div>
                    <div class="form-group" style="position: relative;">
                        <img (click)="noViewConfirmPassword();" *ngIf="passwordTypeConfirm == 'text' " src="assets/images/no-eyes.png" alt="" style="width:20px;position:absolute;font-size:20px;right:10px;top:8px;">
                        <i *ngIf="passwordTypeConfirm == 'password' " (click)="viewConfirmPassword()" class="glyph-icon simple-icon-eye" style="position:absolute;font-size:20px;right:10px;top:8px;"></i>
                        <input (change)="ConfirmPassword()"  [(ngModel)]="user.confirm_password" name="confirm_password" type="{{ passwordTypeConfirm }}" class="form-control form-control-register" placeholder="Confirmar contraseña*" required>
                        <p *ngIf="msgPass" style="font-size:10px; color: rgb(239,60,57)" class="text-left">Las contraseñas no coinciden ó no cumple con lo requerido.</p> 
                    </div>
                    <div class="form-group">
                        <button (click)="next(newClient.value, newClient.valid)" class="btn btn-primary btn-block btn-eom">Comenzar</button>
                    </div>
                </div>
                    <div *ngIf="step == 2" class="container-fluid" style="width:35%; margin:auto; text-center">
                        <img class="mt-2 mb-2" src="assets/images/step-1.png" alt="" style="width:20%">
                        <h2><strong>Queremos conocerte mejor: </strong></h2>
                        <br>
                        <div class="form-group">
                            <input [(ngModel)]="user.first_name" name="first_name" type="text" class="form-control form-control-register" placeholder="Nombre/s" required>
                        </div>
                        <div class="form-group">
                            <input  [(ngModel)]="user.last_name" name="last_name" type="text" class="form-control form-control-register" placeholder="Apellido/s" required>
                        </div>
                        <div class="form-group">
                            <input [(ngModel)]="user.ocupation" name="ocupation" type="text" class="form-control form-control-register" placeholder="¿Cual es tu puesto?* " required>
                        </div>
                        <div class="form-group">
                            <ng-select [(ngModel)]="user.departament" placeholder="¿Cuál es tu departamento?" ngModel required [items]="departaments" bindLabel="name" name="departament"></ng-select>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <button (click)="next(newClient.value, newClient.valid)" class="btn btn-primary btn-block btn-eom">Comenzar</button>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div *ngIf="step > 2.99 && step < 4" class="container-fluid" style="width:35%; margin:auto;">
                        <img class="mt-2 mb-2" src="assets/images/step-2.png" alt="" style="width:20%">
                        <h2><strong>Ahora los datos de tu empresa</strong></h2>
                        <br>
                        <div class="form-group">
                           
                            <input [(ngModel)]="user.name"type="text" name="name" class="form-control form-control-register" ngModel required placeholder="Razon social de la empresa*">
                        </div>
                        <div class="form-group">
                            
                            <input [(ngModel)]="user.rfc" type="text" name="rfc" ngModel class="form-control form-control-register" required placeholder="RFC*">
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sector_option" [(ngModel)]="user.sector_option" required value="P" >
                                <label class="form-check-label" for="inlineRadio1">Primario</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sector_option" [(ngModel)]="user.sector_option" required  value="I">
                                <label class="form-check-label" for="inlineRadio2">Industrias</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sector_option" [(ngModel)]="user.sector_option" required  value="S">
                                <label class="form-check-label" for="inlineRadio2">Servicios</label>
                              </div>
                        </div>
                        <div class="form-group">
                            <ng-select *ngIf="user.sector_option == 'P'" [(ngModel)]="user.sector" placeholder="¿A qué sector pertenece?*" required [items]="primary" bindLabel="name" name="sector" required></ng-select>
                            <ng-select *ngIf="user.sector_option == 'I'" [(ngModel)]="user.sector" placeholder="¿A qué sector pertenece?*" required [items]="industries" bindLabel="name" name="sector" required></ng-select>
                            <ng-select *ngIf="user.sector_option == 'S'" [(ngModel)]="user.sector" placeholder="¿A qué sector pertenece?*" required [items]="services" bindLabel="name" name="sector" required></ng-select>
                        </div>
                        <div class="form-group">
                            
                            <input [(ngModel)]="user.n_employees" name="n_employees"  type="number" class="form-control form-control-register" placeholder="¿Cuántos empleados tiene?*" required>
                        </div>
                        <div class="form-group">
                            <ng-select [(ngModel)]="user.sede" placeholder="¿Dónde es la sede?*" ngModel required [items]="sedes" bindLabel="name" name="sede"></ng-select>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                
                                <div class="col-12 col-md-12">
                                    <button (click)="next(newClient.value, newClient.valid)" class="btn btn-primary btn-block">Siguiente  &nbsp; <i class="fa-solid fa-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="step > 3.99 && step < 5" class="container-fluid" style="width:35%; margin:auto;">
                        <img class="mt-2 mb-2" src="assets/images/step-3.png" alt="" style="width:20%">
                        <h2><strong>¡El último paso!</strong></h2>
                        <br>
                        <div class="form-group">
                            <ng-select required class="form-control" style="padding:0;" ngModel placeholder="Selecciona el nombre de tu broker a El Otro Mercado" ngModel required [items]="brokers" bindLabel="email" name="ubication"></ng-select>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label" style="font-size:12px;">¿Qué productos o servicios buscas en El Otro Mercado?</label>
                            <textarea [(ngModel)]="user.question_1" class="form-control form-control-register"  name="question_1" required ngModel placeholder="Tu respuesta"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label" style="font-size:12px;">¿Con qué productos o servicios cuentas actualmente para vender en El Otro Mercado?</label>
                            <textarea [(ngModel)]="user.question_2" class="form-control form-control-register"   name="question_2" required ngModel placeholder="Tu respuesta"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="checkbox"><input required [(ngModel)]="user.terms" type="checkbox"  name="terms"> Estoy de acuerdo con los términos y condiciones de ELOTROMERCADO.COM</label><br>
                        </div>
                        <div class="form-group">
                            <label class="checkbox"><input required [(ngModel)]="user.terms_and_privacity" type="checkbox"   name="terms_and_privacity">Acepto que estoy de acuerdo con los <a href="#" style="color:#FFF">Términos y condiciones</a>&nbsp;y la <a href="#" style="color:#FFF">Política de privacidad</a>.</label><br>
                        </div>
                        <div class="form-group">
                            <div class="row">
                               
                                <div class="col-12 col-md-12">
                                    <button type="submit" class="btn btn-primary btn-block btn-eom">Finalizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="step > 4.99 && step < 6" class="container-fluid" style="width:35%; margin:auto;">
                        <img class="mt-2 mb-2" src="assets/images/eom-coin-transparent.png" alt="" style="width:20%">
                        <h2><strong>¡Gracias!</strong></h2>
                        <p>Tu pre-registro fue éxitoso, en menos de 72 horas recibirás una confirmación por parte de nuestro equipo...</p>
                        <img src="assets/images/logo-black.png" alt="" style="width:100%">
                        <br>
                        <button class="btn btn-primary btn-eom mt-4">Conoce más beneficios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



