<app-navbar></app-navbar>
<div class="row">
    <div class="col-1">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-11" style="margin-top:100px;">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card" style="background-image:url(assets/images/dashboard/credit-1.jpg)">
                    <div class="card-body">
                        <h2 class="card-title text-white">
                          Crédito Banca EOM
                        </h2>
                        <p class="card-text text-white">
                            En este apartado podrás ingresar al panel de banca de nuestra plataforma.
                        </p>
                        <button class="btn btn-outline-light text-white border-white">
                            VER MIEMBROS
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card" style="background-image:url(assets/images/dashboard/credit-2.jpg)">
                    <div class="card-body">
                        <h2 class="card-title text-white">
                            Crédito Miembros
                        </h2>
                        <p class="card-text text-white">
                            En este apartado podrás ingresar al panel de créditos de los miembros de nuestra plataforma.
                        </p>
                        <button routerLink="/dashboard/credits/members" class="btn btn-outline-light text-white border-white">VER BROKERS</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card" style="background-image:url(assets/images/dashboard/credit-3.jpg)">
                    <div class="card-body">
                        <h2 class="card-title text-white">
                            Asignaciones
                        </h2>
                        <p class="card-text text-white">
                            En este apartado podrás ingresar al panel de asignaciones de nuestra plataforma.
                        </p>
                        <button routerLink="/dashboard/credits/asignations" class="btn btn-outline-light text-white border-white">VER BROKERS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

