<eom-header></eom-header>
<div class="container" style="margin-top:100px;">
    <div class="col-12">
        <h2><strong>Tus notificaciones</strong></h2>
        <ul class="list-group">
            <li class="list-group-item text-secondary">Tus notificaciones del <span class="text-primary">31/11/2021</span> al <span class="text-primary">31/12/2022</span></li>
            <li *ngFor="let notification of notifications" class="list-group-item text-secondary">
                <img *ngIf="notification.from_user.profile.avatar" [src]="apiUrl + '/files/avatars/' + notification.from_user.profile.avatar" alt="" style="width:40px;">
                <img *ngIf="!notification.from_user.profile.avatar" src="assets/images/avatar.png" alt="" style="width:40px;">
                &nbsp;
                <span *ngIf="notification.type == 1">
                    <a routerLink="/profile/{{ notification.from_user.id }}">{{ notification.from_user.profile.first_name }} {{ notification.from_user.profile.last_name }}</a> te ha comprado un producto...
                </span>
                <span *ngIf="notification.type == 2">
                    
                </span>
                <span *ngIf="notification.type == 3">
                    <a routerLink="/profile/{{ notification.from_user.id }}">{{ notification.from_user.profile.first_name }} {{ notification.from_user.profile.last_name }}</a> ha comenzado a seguirte...
                </span>
                <br>
                {{ notification.created_at | date: 'medium'}}
                
            </li>
        </ul>
    </div>
</div>


