<eom-header (searchEvent)="searchEvent($event)"></eom-header>
<section id="index-page" style="margin-top:135px !important;">
    <div class="jumbotron bg-primary" style="height:200px">
        <div class="row d-flex- align-items-center justify-content-center">
            <div class="col-12">
                <h1><strong>Tu búsqueda: {{ search }}</strong></h1>
            </div>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-12"><h1><strong>Usuarios</strong></h1></div>
        <div *ngIf="!users || users.length == 0" class="col-12 mt-3 mb-3"><h3>No hay resultados para mostrar</h3></div>
        <div *ngFor="let user of users" class="col-3">
            <div routerLink="/profile/{{ user.id }}"  class="card">
                <img *ngIf="!user.profile.avatar" class="card-img-top" src="assets/images/avatar.png" alt="Card image cap">
                <img *ngIf="user.profile.avatar" class="card-img-top" src="{{ api + '/files/avatars/' + user.profile.avatar}}" alt="Card image cap">
                <div class="card-body">
                    <div class="card-body">
                        <h2 class="card-title"><strong>{{ user.profile.first_name }} {{ user.profile.last_name }}</strong></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-12"><h1><strong>Productos</strong></h1></div>
        <div *ngIf="!products || products.length == 0" class="col-12 mt-3 mb-3"><h3>No hay resultados para mostrar</h3></div>
        <div class="container-fluid" style="clear:both;">
            <eom-slider *ngIf="products" [products]="products"></eom-slider>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-12"><h1><strong>Servicios</strong></h1></div>
        <div *ngIf="!services || services.length == 0" class="col-12 mt-3 mb-3"><h3>No hay resultados para mostrar</h3></div>
        <div class="container-fluid" style="clear:both;">
            <eom-slider *ngIf="services" [products]="services"></eom-slider>
        </div>
    </div>
</section>
<eom-footer></eom-footer>