#actions{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:-20px;
    margin-top: 10px;
}
#actions div {
    border: 1px solid #CCC;
    height:100%;
    padding:10px;
    background-color:#FFF;
}
#actions i{
    font-size: 18px;

}
#index-page{
    margin-top: 200px;
}
.bg-primary{
    background-color:#0d6682 !important;
    background: #0d6682 !important;
}
@media only screen and (max-width: 719px) {
    #index-page{
       
    }
}
