<eom-header></eom-header>
<section id="index-page">
    <div class="jumbotron" style="height:300px">
        <div class="row d-flex- align-items-center justify-content-center">
            <div class="col-2">
                <img src="assets/images/eom-coin-transparent.png" alt="" style="width:100%">
            </div>
            <div class="col-10">
                <h1>El único lugar donde <BR> puedes <strong>comprar sin dinero.</strong></h1>
            </div>
        </div>
    </div>
    <div class="recent-posts p-5" style="background-color:#FFF;" >
        <div class="container">
            <h2><strong>Publicaciones destacadas</strong></h2>
            <br>
        </div>
        <div class="container-fluid">
            <eom-slider></eom-slider>
        </div>
    </div>
    <main style="padding:50px">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <h2>Filtros de búsqueda</h2>
                </div>
                <div class="col-12 col-md-1"></div>
                <div class="col-12 col-md-7" style="clear:both;">
                    <button *ngIf="identity" routerLink="/publish-product" class="btn btn-success pl-5 pr-5">Publicar Producto</button>
                    
                    <button class="btn text-secondary" style="float:right;border-radius:50% !important"><i class="simple-icon-list"></i></button>  
                    <button class="btn btn-primary" style="float:right;border-radius:50% !important"><i class="simple-icon-grid"></i></button>              
                    <hr>
                    <br>
                    <h2><strong>Últimas Publicaciones</strong></h2>
                    <br>
                    <div class="row">
                        <div *ngFor="let product of products" class="col-12 col-md-4">
                            <div class="card m-2">
                                <img src="assets/images/product.png" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h2 class="card-title" style="font-size:16px"><strong>{{ product.title }}</strong></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
<eom-footer></eom-footer>

