<eom-header></eom-header>
<section *ngIf="!identity?.profile.cover" id="profile" style="margin-top:130px;height:350px;" class="bg-primary text-white d-flex align-items-center justify-content-center" >
    <div id="summary" class="container " style="margin:auto;">
        <div class="row">
            <div class="col-12 col-md-3 text-center" style="height: 100%; position:relative;" >
                <div *ngIf="identity?.profile.avatar" class="avatar" style="height:200px;width:200px;background-image: url({{apiUrl + '/files/avatars/' + identity?.profile.avatar}})" >

                </div>
                <div *ngIf="!identity?.profile.avatar" class="avatar" style="height:200px;width:200px;background-image: url(assets/images/avatar.png)">

                </div>
            </div>
            <div class="col-12 col-md-6">
                <h1>{{ identity?.profile.first_name }} {{ identity?.profile.last_name }} </h1>
                <div class="row mt-1">
                    <div class="col-12">
                        <rating [readonly]="true" name="calification" [max]="5" ngModel></rating> &nbsp;
                    </div>
                </div>
                <br>
                <div class="row mt-1">
                    <div class="col-12">
                        <button class="btn btn-outline-light">Ver reputación</button>&nbsp;
                    <button *ngIf="identity?.id != identityStorage?.id && followers?.indexOf(identityStorage?.id) == -1" (click)="follow()" class="btn btn-success">Seguir</button>&nbsp;
                    <button *ngIf="identity?.id != identityStorage?.id && followers?.indexOf(identityStorage?.id) != -1" (click)="unfollow()" class="btn btn-outline-light">Dejar de Seguir</button>&nbsp;
                    <button *ngIf="identity?.id != identityStorage?.id" (click)="openTwin();" class="btn btn-primary">Twin</button>&nbsp;
                    </div>    
                </div>
                
                <br>
                <h5 class="mt-1 mb-2">{{ products?.length }} publicaciones activas</h5>
                <span class="text-white"><a class="text-white" href="#" style="text-decoration:none !important;">{{ count_followers  }} Seguidores</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-white"><a href="#" class="text-white" style="text-decoration:none !important;">{{ count_followeds }} Seguidos</a></span>
            </div>
        </div>
    </div>
</section>
<section *ngIf="identity?.profile.cover" id="profile" style="background-repeat: no-repeat; background-position: center; background-size: cover ; background-image:url({{ apiUrl+'/files/covers/'+identity.profile.cover }}); margin-top:130px;height:350px;position:relative;" class="text-white d-flex align-items-center justify-content-center" >
    <div class="cover-background" style="position:absolute;height:350px;width:100%;z-index:99; background-color: rgba(0,117,176, 0.5)"></div>
    <div id="summary" class="container " style="margin:auto;z-index:999">
        <div class="row">
            <div class="col-12 col-md-3 text-center" style="height: 100%; position:relative; ">
                <img *ngIf="profile.avatar" [src]="apiUrl + '/files/avatars/' + identity.profile.avatar" alt="" class="avatar">
                <img *ngIf="!profile.avatar" src="assets/images/avatar.png" alt="" class="avatar">
            </div>
            <div class="col-12 col-md-6">
                <h1>{{ identity?.profile.first_name }} {{ identity?.profile.last_name }} </h1>
                <br>
                <rating [readonly]="true" name="calification" [max]="5" ngModel></rating> &nbsp;
                <button class="btn btn-outline-light">Ver reputación</button>&nbsp;
                <button *ngIf="identity?.id != identityStorage?.id && followers?.indexOf(identityStorage?.id) == -1" (click)="follow()" class="btn btn-success">Seguir</button>&nbsp;
                <button *ngIf="identity?.id != identityStorage?.id && followers?.indexOf(identityStorage?.id) != -1" (click)="unfollow()" class="btn btn-outline-light">Dejar de Seguir</button>&nbsp;
                <button *ngIf="identity?.id != identityStorage?.id" (click)="openTwin();" class="btn btn-primary">Twin</button>&nbsp;
                
                <br>
                <h5>{{ products.length }} publicaciones activas</h5>
                <span class="text-white"><a class="text-white" href="#" style="text-decoration:none !important;">{{ count_followers  }} Seguidores</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-white"><a href="#" class="text-white" style="text-decoration:none !important;">{{ count_followeds }} Seguidos</a></span>
            </div>
            
        </div>       
    </div>
</section>
<section id="privacity">
    <div id="papers" class="container">
        <div class="row">
            <div class="col-12 col-md-4 p-4 mb-5">
                <h4 class="text-secondary mt-5 mb-4">Información</h4>
                <p> {{ description }}</p>
                <hr style="border-color:#CCCCCC">
                <h5 *ngIf="profile?.state && profile?.city" class="text-primary mt-4 mb-4"><i class="iconsminds-map-marker-2"></i> {{ city }}, {{ state.name }}</h5>
                <hr style="border-color:#CCCCCC">
                <h6 *ngIf="papers" class="mt-3 mb-3" style="color:#444444">Papelito habla</h6>
                <div *ngIf="papers" class="row">
                    <div *ngFor="let paper of papers" class="col-12 col-md-4">
                        <div class="paper card m-1" style="background-image:url({{ apiUrl + '/files/papers/' + paper }});">
                            <div class="card-body">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <app-sidebar-universe (filterEvent)="filterEvent($event)"></app-sidebar-universe>
            </div>
            <div class="col-12 col-md-1"></div>
            <div class="col-12 col-md-7 mt-5">
                <button routerLink="/publish-product" class="btn btn-success w-48 mt-5">
                    Quiero Vender
                </button>
                <button routerLink="/publish-product" class="btn btn-primary w-50 mt-5">
                    Quiero Comprar
                </button>
                <p class="text-center mt-5"  style="font-size:25px" *ngIf="products?.length < 1"> Este usuario no ha publicado productos...</p>
                <div *ngFor="let product of products" class="card mt-3 mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <img *ngIf="!identity.profile.avatar" src="assets/images/avatar.png" alt="" style="width:100%;">
                                <img *ngIf="identity.profile.avatar" [src]="apiUrl + '/files/avatars/' + identity.profile.avatar" alt="" style="width:100%;">
                            </div>
                            <div class="col-10">
                                <h4><strong>{{ identity.username }} </strong></h4>
                                <span class="text-secondary">{{ product.created_at | date: 'dd/MM/yyyy '}}</span>
                                <br>
                                <span class="text-success d-none">VENDO</span>&nbsp;<span class="text-secondary">Quedan {{product.duration}} dias</span>
                            </div>
                        </div>
                        <hr style="border-color:#CCCCCC">
                        <div class="row">
                            <div class="col-12">
                                <h2 style="color:#444444">{{ product.tile}}</h2>
                                <p style="color:#444444">{{ product.description }}</p>
                                <img *ngIf="!product.thumbnail" src="assets/images/product.png" alt="" style="width:100%;">
                                <img *ngIf="product.thumbnail" [src]="apiUrl + '/files/products/' + product.thumbnail" alt="" style="width:100%;">
                                <hr style="color:#444444">
                                <div class="row">
                                    <button *ngIf="product.likers.indexOf(identity?.id) == -1" class="btn w-23 text-primary" (click)="like(product.id)"><i class="glyph-icon simple-icon-heart"></i> Me gusta</button>
                                    <button *ngIf="product.likers.indexOf(identity?.id) != -1" class="btn w-23 text-primary" (click)="dislike(product.id)"><i class="glyph-icon simple-icon-heart"></i> No me gusta</button>
                                    <button class="btn w-23 text-primary"><i class="glyph-icon iconsminds-speach-bubbles"></i> Comentarios</button>
                                    <button class="btn w-23 text-primary" (click)="twin(product.id)"><i class="glyph-icon simple-icon-bubble"></i> Twin</button>
                                    <button class="btn w-25 text-primary" (click)="share(product.id)"><i class="glyph-icon iconsminds-sharethis"></i> Compartir</button>
                                </div>
                                
                            </div>
                        </div>
                        <hr style="color:#444444">
                        <div class="card">
                            <div class="card-body">
                                <div *ngIf="product.comments?.length == 0" class="row text-center">
                                    <p class="text-center">No hay comentarios en este producto...</p>
                                </div>
                                <div routerLink="/profile/{{comment.user.id }}" *ngFor="let comment of product.comments; let i = index" class="row">
                                    <div class="avatar col-md-1">
                                        <img *ngIf="!comment.user.profile.avatar" src="assets/images/avatar.png" alt="" style="width:100%;">
                                        <img *ngIf="comment.user.profile.avatar" src="{{ API_ENDPOINT + '/files/avatars/' + comment.user.profile.avatar }}" alt="" style="width:100%;">
                                    </div>
                                    <div class="comment col-md-11 p-3" style="border:1px solid #ccc; border-radius:30px;">
                                        <strong>@{{comment.user.username}}</strong>
                                        <p>{{ comment.content }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row d-flex align-items-center">
                                    <div class="col-1">
                                        <img *ngIf="!identity.profile.avatar" src="assets/images/avatar.png" alt="" style="width:100%;">
                                        <img *ngIf="identity.profile.avatar" src="{{ API_ENDPOINT + '/files/avatars/' + identity.profile.avatar }}" alt="" style="width:100%;">
                                    </div>
                                    <div class="col-11">
                                        <form #newComment="ngForm" (ngSubmit)="publishComment(product.id,newComment.value)">
                                            <input ngModel name="content" #content  style="border-radius:30px;" type="text" class="form-control" placeholder="Escribe un comentario">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="color:#444444">
                        <div class="row">
                            <div class="col-4">
                                <img src="assets/images/eom-coin-transparent.png" alt="" style="width:50px;">
                                <span class="bg-primary p-2 text-white ml-2" style="border-radius:30px;">T. {{ product.price }}</span>
                            </div>
                            <div class="col-8">
                                <div class="btn btn-primary w-100">Comprar</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
