<eom-header></eom-header>
<section *ngIf="!identity.profile.cover" id="profile" style="margin-top:130px;height:350px;" class="bg-primary text-white d-flex align-items-center justify-content-center" >
    <div id="summary" class="container " style="margin:auto;">
        <div class="row">
            <div class="col-12 col-md-3 text-center" style="height: 100%; position:relative;">
                <input (change)="uploadAvatar($event)"  type="file" class="d-none" name="avatar" #avatar>
                <button (click)="avatar.click();" class="btn btn-success" style="height:50px; width: 50px; border-radius:50% !important;position: absolute; bottom:0; right:60px;"><i class="glyph-icon simple-icon-picture"></i></button>
                <img *ngIf="identity.profile.avatar" [src]="apiUrl + '/files/avatars/' + identity.profile.avatar" alt="" class="avatar">
                <img *ngIf="!identity.profile.avatar" src="assets/images/avatar.png" alt="" class="avatar">
            </div>
            <div class="col-12 col-md-6">
                <h1>{{ identity.profile.first_name }} {{ identity.profile.last_name }} </h1>
                <br>
                <rating [readonly]="true" name="calification" [max]="5" ngModel></rating> &nbsp;
                <button class="btn btn-outline-light">Ver reputación</button>
                <br>
                <h5>15 publicaciones activas</h5>
                <img src="assets/images/eom-coin-transparent.png" alt="" style="width:25px;">&nbsp;
                <span class="btn" style="background-color:#f5f5f5;border-radius:50%;padding:10px">1550</span>&nbsp;<span class="text-white">300 Seguidores</span>&nbsp;<span class="text-white">200 Seguidos</span>
            </div>
            <div class="col-12 col-md-3">
                <input (change)="uploadCover($event )" type="file" class="d-none" #cover name="cover">
                <button (click)="cover.click();" class="btn btn-outline-light">Editar Portada</button>
            </div>
        </div>
        <hr style="border-color: #FFF;">
        <div class="row">
            <div class="col-12 col-md-3">
                <button (click)="active = 1" class="btn text-white">Privacidad</button>
            </div>
            <div class="col-12 col-md-3">
                <button (click)="active = 2" class="btn text-white">Mis Operaciones</button>
            </div>
            <div class="col-12 col-md-3">
                <button (click)="active = 3"class="btn text-white">Mi Reputación</button>
            </div>
            <div class="col-12 col-md-3">
                <button (click)="active = 4" class="btn text-white">Ayuda</button>
            </div>
        </div>
    </div>
</section>
<section *ngIf="identity.profile.cover" id="profile" style="background-repeat: no-repeat; background-position: center; background-size: cover ; background-image:url({{ apiUrl+'/files/covers/'+identity.profile.cover }}); margin-top:130px;height:350px;position:relative;" class="text-white d-flex align-items-center justify-content-center" >
    <div class="cover-background" style="position:absolute;height:350px;width:100%;z-index:99; background-color: rgba(0,117,176, 0.5)"></div>
    <div id="summary" class="container " style="margin:auto;z-index:999">
        <div class="row">
            <div class="col-12 col-md-3 text-center" style="height: 100%; position:relative; ">
                <input (change)="uploadAvatar($event)"  type="file" class="d-none" name="avatar" #avatar>
                <button (click)="avatar.click();" class="btn btn-success" style="height:50px; width: 50px; border-radius:50% !important;position: absolute; bottom:0; right:60px;"><i class="glyph-icon simple-icon-picture"></i></button>
                <img *ngIf="identity.profile.avatar" [src]="apiUrl + '/files/avatars/' + identity.profile.avatar" alt="" class="avatar">
                <img *ngIf="!identity.profile.avatar" src="assets/images/avatar.png" alt="" class="avatar">
            </div>
            <div class="col-12 col-md-6">
                <h1>{{ identity.profile.first_name }} {{ identity.profile.last_name }} </h1>
                <br>
                <rating [readonly]="true" name="calification" [max]="5" ngModel></rating> &nbsp;
                <button class="btn btn-outline-light">Ver reputación</button>
                <br>
                <h5>15 publicaciones activas</h5>
                <img src="assets/images/eom-coin-transparent.png" alt="" style="width:25px;">&nbsp;
                <span class="btn" style="background-color:#f5f5f5;border-radius:50%;padding:10px">1550</span>&nbsp;<span class="text-white">300 Seguidores</span>&nbsp;<span class="text-white">200 Seguidos</span>
            </div>
            <div class="col-12 col-md-3">
                <input (change)="uploadCover($event )" type="file" class="d-none" #cover name="cover">
                <button (click)="cover.click();" class="btn btn-outline-light">Editar Portada</button>
            </div>
        </div>
        <hr style="border-color: #FFF;">
        <div class="row">
            <div class="col-12 col-md-3">
                <button (click)="active = 1" class="btn text-white">Privacidad</button>
            </div>
            <div class="col-12 col-md-3">
                <button (click)="active = 2" class="btn text-white">Mis Operaciones</button>
            </div>
            <div class="col-12 col-md-3">
                <button (click)="active = 3"class="btn text-white">Mi Reputación</button>
            </div>
            <div class="col-12 col-md-3">
                <button (click)="active = 4" class="btn text-white">Ayuda</button>
            </div>
        </div>
    </div>
</section>
<section *ngIf="active == 1" id="privacity">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 p-4 mb-5">
                <h4 class="text-secondary mt-5 mb-4">Info <span class="text-primary"><i class="glyph-icon simple-icon-pencil"></i>Editar</span></h4>
                <textarea name="info" class="form-control m-2 mb-2" style="background-color: #FFF !important;" placeholder="Texto de la introducción del perfil. 4 líneas de texto o h asta 100 caracteres"></textarea>
                <h6 class="text-secondary text-right">65/100</h6>
                <button class="btn text-primary w-40">Cancelar</button>
                <button class="btn btn-success w-60">Guardar</button>
                <hr style="border-color:#CCCCCC">
                <h4 class="text-primary mt-4 mb-4"><i class="iconsminds-map-marker-2"></i>Benito Juarez, Q. Roo</h4>
                <hr style="border-color:#CCCCCC">
                <h6 class="mt-3 mb-3" style="color:#444444">Papelito habla</h6>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="card" style="background-image:url(assets/images/0.jpg); height:80px;">
                            <div class="card-body">
                                <i class="fa-solid fa-circle-xmark text-white" style="position: absolute; top:0;right:0; margin: 3px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card" style="background-image:url(assets/images/1.jpg); height:80px;">
                            <div class="card-body">
                                <i class="fa-solid fa-circle-xmark text-white" style="position: absolute; top:0;right:0; margin: 3px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card" style="background-image:url(assets/images/0.jpg); height:80px;">
                            <div class="card-body">
                                <i class="fa-solid fa-circle-xmark text-white" style="position: absolute; top:0;right:0; margin: 3px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn text-primary w-100 mt-3 mb-3"><i class="glyph-icon iconsminds-camera-3"></i> Subir Fotos 3/10</button>
                <app-sidebar-universe></app-sidebar-universe>
            </div>
            <div class="col-12 col-md-1"></div>
            <div class="col-12 col-md-7 mt-5">
                <button routerLink="/publish-product" class="btn btn-success w-48 mt-5">
                    Quiero Vender
                </button>
                <button routerLink="/" class="btn btn-primary w-50 mt-5">
                    Quiero Comprar
                </button>
                <div *ngFor="let product of products" class="card mt-3 mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <img *ngIf="!identity.profile.avatar" src="assets/images/avatar.png" alt="" style="width:100%;">
                                <img *ngIf="identity.profile.avatar" [src]="apiUrl + '/files/avatars/' + identity.profile.avatar" alt="" style="width:100%;">
                            </div>
                            <div class="col-10">
                                <h4><strong>{{ identity.username }} </strong></h4>
                                <span class="text-secondary">{{ product.created_at | date: 'dd/MM/yyyy '}}</span>
                                <br>
                                <span class="text-success d-none">VENDO</span>&nbsp;<span class="text-secondary">Quedan {{product.duration}} dias</span>
                            </div>
                        </div>
                        <hr style="border-color:#CCCCCC">
                        <div class="row">
                            <div class="col-12">
                                <h2 style="color:#444444">{{ product.tile}}</h2>
                                <p style="color:#444444">{{ product.description }}</p>
                                <img *ngIf="!product.thumbnail" src="assets/images/product.png" alt="" style="width:100%;">
                                <img *ngIf="product.thumbnail" [src]="apiUrl + '/files/products/' + product.thumbnail" alt="" style="width:100%;">
                                <hr style="color:#444444">
                                <div class="row">
                                    <div class="btn w-23 text-primary"><i class="glyph-icon simple-icon-heart"></i> Chido</div>
                                    <div class="btn w-23 text-primary"><i class="glyph-icon iconsminds-speach-bubbles"></i> Comentarios</div>
                                    <div class="btn w-23 text-primary"><i class="glyph-icon simple-icon-bubble"></i> Twin</div>
                                    <div class="btn w-25 text-primary"><i class="glyph-icon iconsminds-sharethis"></i> Compartir</div>
                                </div>
                                
                            </div>
                        </div>
                        <hr style="color:#444444">
                        <div class="card">
                            <div class="card-body">
                                <div *ngIf="product.comments?.length == 0" class="row text-center">
                                    <p class="text-center">No hay comentarios en este producto...</p>
                                </div>
                                <div *ngFor="let comment of product.comments; let i = index" class="row">
                                    <div class="avatar col-md-1">
                                        <img *ngIf="!comment.user.profile.avatar" src="assets/images/avatar.png" alt="" style="width:100%;">
                                        <img *ngIf="comment.user.profile.avatar" src="{{ API_ENDPOINT + '/files/avatars/' + comment.user.profile.avatar }}" alt="" style="width:100%;">
                                    </div>
                                    <div class="comment col-md-11 p-3" style="border:1px solid #ccc; border-radius:30px;">
                                        <strong>@{{comment.user.username}}</strong>
                                        <p>{{ comment.content }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row d-flex align-items-center">
                                    <div class="col-1">
                                        <img *ngIf="!identity.profile.avatar" src="assets/images/avatar.png" alt="" style="width:100%;">
                                        <img *ngIf="identity.profile.avatar" src="{{ API_ENDPOINT + '/files/avatars/' + identity.profile.avatar }}" alt="" style="width:100%;">
                                    </div>
                                    <div class="col-11">
                                        <form #newComment="ngForm" (ngSubmit)="publishComment(product.id,newComment.value)">
                                            <input ngModel name="content" #content  style="border-radius:30px;" type="text" class="form-control" placeholder="Escribe un comentario">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="color:#444444">
                        <div class="row">
                            <div class="col-4">
                                <img src="assets/images/eom-coin-transparent.png" alt="" style="width:50px;">
                                <span class="bg-primary p-2 text-white ml-2" style="border-radius:30px;">T. {{ product.price }}</span>
                            </div>
                            <div class="col-8">
                                <div class="btn btn-primary w-100">Comprar</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="active == 2" id="operations">
    <div class="container mt-2 mb-2">
        <div class="card" style="padding:0;margin:0;">
            <div class="card-body" style="">
                <h3 class="card-title text-secondary">Balance</h3>
                <hr style="border-color:#CCC">
                <div class="row ">       
                    <div class="col-4 card">
                        <div class="card-body d-flex align-items-center">
                            <div class="row">
                                <div class="col-4">
                                    <img src="assets/images/eom-coin-transparent.png" alt="" style="width:100%;">
                                </div>
                                <div class="col-8">
                                    <h4 class="card-subtitle">Saldo Actual</h4>
                                    <br>
                                    <span class="bg-primary p-2 text-white ml-2" style="border-radius:30px;">T. 2,200</span>
                                </div>
                            </div>
                        </div>     
                    </div>
                    <div class="col-4 card">
                        <div class="card-body d-flex align-items-center">
                            <div class="row">
                                <div class="col-4">
                                    <img src="assets/images/eom-coin-transparent.png" alt="" style="width:100%;">
                                </div>
                                <div class="col-8">
                                    <h4 class="card-subtitle">Compras</h4>
                                    <br>
                                    <span class="bg-primary p-2 text-white ml-2" style="border-radius:30px;">T. 2,200</span>
                                </div>
                            </div>
                        </div>     
                    </div>
                    <div class="col-4 card">
                        <div class="card-body d-flex align-items-center">
                            <div class="row">
                                <div class="col-4">
                                    <img src="assets/images/eom-coin-transparent.png" alt="" style="width:100%;">
                                </div>
                                <div class="col-8">
                                    <h4 class="card-subtitle">Ventas</h4>
                                    <br>
                                    <span class="bg-primary p-2 text-white ml-2" style="border-radius:30px;">T. 2,200</span>
                                </div>
                            </div>
                        </div>     
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-6">
                <button (click)="compras = true; ventas = false;" class="btn w-100 text-primary">COMPRAS</button>
            </div>
            <div class="col-6">
                <button (click)="compras = false; ventas = true;"  class="btn w-100 text-darken">VENTAS</button>
            </div>
        </div>
        <div *ngIf="compras" class="row">
            <div class="col-12">    
                <div class="card">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-secondary">Tus compras del <span class="text-primary">31/11/2022</span> al <span class="text-primary">31/12/2022</span></h3>
                            <hr style="border-color:#CCC;">
                            <div *ngFor="let bought of boughts" class="row d-flex align-items-center">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="assets/images/avatar.png" alt="" style="width:100%;">
                                        </div>
                                        <div class="col-9 d-flex align-items-center">
                                            <p>
                                                <span><strong class="text-darken">{{ bought.product.title }}</strong></span>
                                            <br>
                                            <span class="text-secondary">16/11/2022 | 15:02 p.m.</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <button class="btn w-100 text-primary" style="border-right: 1px solid #CCC; border-left: 1px solid #CCC;">Calificar a Vendedor</button>
                                </div>
                                <div class="col-3">
                                    <button class="btn w-100 text-primary" style=" border-right: 1px solid #CCC;">Abrir Caso</button>
                                </div>
                                <div class="col-12">
                                    <hr style="border-color:#CCC;">
                                </div>
                            </div>
                            <div class="row" style="display:none;">
                                <div class="col-3 text-center d-flex align-items-center">
                                    <div>
                                        <h5 class="text-center text-darken">¿Cómo calificas al vendedor</h5>
                                        <rating [readonly]="true" name="calification" [max]="5"></rating> &nbsp;
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-3">
                                            <img class="w-100" src="assets/images/avatar.png" alt="">
                                        </div>
                                        <div class="col-9 d-flex align-items-center">
                                            <input type="text" class="form-control form-control-eom" placeholder="Escribe tu reseña del producto">
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-3 d-flex align-items-center">
                                    <button class="btn w-100 btn-success text-white">Calificar</button>
                                </div>
                                <div class="col-12">
                                    <hr style="border-color:#CCC;">
                                </div>
                            </div>
                            <div *ngFor="let bought of boughts" class="row d-flex align-items-center">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="assets/images/avatar.png" alt="" style="width:100%;">
                                        </div>
                                        <div class="col-9 d-flex align-items-center">
                                            <p>
                                                <span><strong class="text-darken">{{ bought.product.title }}</strong></span>
                                            <br>
                                            <span class="text-secondary">16/11/2022 | 15:02 p.m.</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <button class="btn w-100 text-primary" style="border-right: 1px solid #CCC; border-left: 1px solid #CCC;">Calificar a Vendedor</button>
                                </div>
                                <div class="col-3">
                                    <button class="btn w-100 text-primary" style=" border-right: 1px solid #CCC;">Abrir Caso</button>
                                </div>
                                <div class="col-12">
                                    <hr style="border-color:#CCC;">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="ventas" class="row">
            <div class="col-12">    
                <div class="card">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-secondary">Tus ventas del <span class="text-primary">31/11/2022</span> al <span class="text-primary">31/12/2022</span></h3>
                            <hr style="border-color:#CCC;">
                            <div class="row d-flex align-items-center">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="assets/images/avatar.png" alt="" style="width:100%;">
                                        </div>
                                        <div class="col-9 d-flex align-items-center">
                                            <p>
                                                <span><strong class="text-darken">Nombre de producto</strong></span>
                                            <br>
                                            <span class="text-secondary">16/11/2022 | 15:02 p.m.</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <button class="btn w-100 text-primary" style="border-right: 1px solid #CCC; border-left: 1px solid #CCC;">Calificar a Vendedor</button>
                                </div>
                                <div class="col-3">
                                    <button class="btn w-100 text-primary" style=" border-right: 1px solid #CCC;">Abrir Caso</button>
                                </div>
                                <div class="col-12">
                                    <hr style="border-color:#CCC;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-center d-flex align-items-center">
                                    <div>
                                        <h5 class="text-center text-darken">¿Cómo calificas al vendedor</h5>
                                        <rating [readonly]="true" name="calification" [max]="5"></rating> &nbsp;
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-3">
                                            <img class="w-100" src="assets/images/avatar.png" alt="">
                                        </div>
                                        <div class="col-9 d-flex align-items-center">
                                            <input type="text" class="form-control form-control-eom" placeholder="Escribe tu reseña del producto">
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-3 d-flex align-items-center">
                                    <button class="btn w-100 btn-success text-white">Calificar</button>
                                </div>
                                <div class="col-12">
                                    <hr style="border-color:#CCC;">
                                </div>
                            </div>
                            <div *ngFor="let i of [1,2,3]" class="row d-flex align-items-center">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="assets/images/avatar.png" alt="" style="width:100%;">
                                        </div>
                                        <div class="col-9 d-flex align-items-center">
                                            <p>
                                                <span><strong class="text-darken">Nombre de producto</strong></span>
                                            <br>
                                            <span class="text-secondary">16/11/2022 | 15:02 p.m.</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <button class="btn w-100 text-primary" style="border-right: 1px solid #CCC; border-left: 1px solid #CCC;">Calificar a Vendedor</button>
                                </div>
                                <div class="col-3">
                                    <button class="btn w-100 text-primary" style=" border-right: 1px solid #CCC;">Abrir Caso</button>
                                </div>
                                <div class="col-12">
                                    <hr style="border-color:#CCC;">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="active == 3" id="reputation">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card mt-3 mb-3">
                    <div class="card-body">
                        <h5 class="card-title" style="color:#444444;">
                            Tu reputacion del <span class="text-primary">31/11/2022</span> al <span class="text-primary">31/12/2022</span>
                        </h5>
                        <hr style="border-color:#CCCCCC;">
                        
                        <div class="row">
                            <div class="col-1">
                                <img src="assets/images/avatar.png" alt="" style="width:100%;">
                            </div>
                            <div class="col-10">
                                <h3 class="card-subtitle text-secondary">
                                    <span class="text-success">VENTA</span> | <strong class="text-dark">Nombre del producto</strong>
                                </h3>
                                
                                <h5 class="card-subtitle text-secondary">
                                    16/11/2022  - Hora de compra                       
                                </h5>
                                <hr style="border-color:#CCCCCC;">
                                <br>
                                <div class="row">
                                    <div class="col-1">
                                        <img src="assets/images/avatar.png" alt="" style="width:100%;">
                                    </div>
                                    <div class="col-11">
                                        <div class="card" style="background-color:#f5f5f5;">
                                            <div class="card-body">
                                                <h5 class="card-title">José Granado</h5>
                                                <p class="card-text">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis at id atque accusantium accusamus magnam praesentium in cum vero, eius libero, sit impedit obcaecati molestias laudantium facilis aliquid tenetur voluptates!m
                                                </p>
                                                <p class="card-text text-right"><a href="#">Responder</a></p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-1">
                                                <img src="assets/images/avatar.png" alt="" style="width:100%;">
                                            </div>
                                            <div class="col-11">
                                                <input type="text" class="form-control form-control-eom" style="background-color:#FFF;" placeholder="Escribe tu reseña del producto ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr style="border-color:#CCCCCC;">
                        <br>
                        <div class="row">
                            <div class="col-1">
                                <img src="assets/images/avatar.png" alt="" style="width:100%;">
                            </div>
                            <div class="col-10">
                                <h3 class="card-subtitle text-secondary">
                                    <span class="text-primary">COMPRA</span> | <strong class="text-dark">Nombre del producto</strong>
                                </h3>
                                
                                <h5 class="card-subtitle text-secondary">
                                    16/11/2022  - Hora de compra                       
                                </h5>
                                <hr style="border-color:#CCCCCC;">
                                <br>
                                <div class="row">
                                    <div class="col-1">
                                        <img src="assets/images/avatar.png" alt="" style="width:100%;">
                                    </div>
                                    <div class="col-11">
                                        <div class="card" style="background-color:#f5f5f5;">
                                            <div class="card-body">
                                                <h5 class="card-title">José Granado</h5>
                                                <p class="card-text">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis at id atque accusantium accusamus magnam praesentium in cum vero, eius libero, sit impedit obcaecati molestias laudantium facilis aliquid tenetur voluptates!m
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="active == 4" id="help">
    Help works!
</section>