<eom-header></eom-header>
<section *ngIf="!identity.profile.cover" id="profile" style="margin-top:130px;height:350px;" class="bg-primary text-white d-flex align-items-center justify-content-center" >
    <div id="summary" class="container " style="margin:auto;">
        <div class="row">
            <div class="col-12 col-md-3 text-center" style="height: 100%; position:relative;">
                <input (change)="uploadAvatar($event)"  type="file" class="d-none" name="avatar" #avatar>
                <button (click)="avatar.click();" class="btn btn-success" style="height:50px; width: 50px; border-radius:50% !important;position: absolute; bottom:0; right:60px;"><i class="glyph-icon simple-icon-picture"></i></button>
                <img *ngIf="identity.profile.avatar" [src]="apiUrl + '/files/avatars/' + identity.profile.avatar" alt="" class="avatar">
                <img *ngIf="!identity.profile.avatar" src="assets/images/avatar.png" alt="" class="avatar">
            </div>
            <div class="col-12 col-md-6">
                <h1>{{ identity.profile.first_name }} {{ identity.profile.last_name }} </h1>
                <br>
                <rating [readonly]="true" name="calification" [max]="5" ngModel></rating> &nbsp;
                <button class="btn btn-outline-light">Ver reputación</button>
                <br>
                <h5>{{ allProducts?.length }} publicaciones activas</h5>
                <span class="text-white"><a class="text-white" href="#" style="text-decoration:none !important;">{{ count_followers  }} Seguidores</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-white"><a href="#" class="text-white" style="text-decoration:none !important;">{{ count_followeds }} Seguidos</a></span>
            </div>
            <div class="col-12 col-md-3">
                <input (change)="uploadCover($event )" type="file" class="d-none" #cover name="cover">
                <button (click)="cover.click();" class="btn btn-outline-light">Editar Portada</button>
            </div>
        </div>
        <hr style="border-color: #FFF;">
        <div class="row">
            <div class="col-12 col-md-6 text-right">
                <button (click)="active = 1" class="btn text-white">Privacidad</button>
            </div>
            <div class="col-12 col-md-6 text-left">
                <button (click)="active = 2" class="btn text-white">Mis Operaciones</button>
            </div>
            <!--<div class="col-12 col-md-3">
                <button (click)="active = 3"class="btn text-white">Mi Reputación</button>
            </div>
            <div class="col-12 col-md-3">
                <button (click)="active = 4" class="btn text-white">Ayuda</button>
            </div> -->
            
        </div>
    </div>
</section>
<section *ngIf="identity.profile.cover" id="profile" style="background-repeat: no-repeat; background-position: center; background-size: cover ; background-image:url({{ apiUrl+'/files/covers/'+identity.profile.cover }}); margin-top:130px;height:350px;position:relative;" class="text-white d-flex align-items-center justify-content-center" >
    <div class="cover-background" style="position:absolute;height:350px;width:100%;z-index:99; background-color: rgba(0,117,176, 0.5)"></div>
    <div id="summary" class="container " style="margin:auto;z-index:999">
        <div class="row">
            <div class="col-12 col-md-3 text-center" style="height: 100%; position:relative; ">
                <input (change)="uploadAvatar($event)"  type="file" class="d-none" name="avatar" #avatar>
                <button (click)="avatar.click();" class="btn btn-success" style="height:50px; width: 50px; border-radius:50% !important;position: absolute; bottom:0; right:60px;"><i class="glyph-icon simple-icon-picture"></i></button>
                <img *ngIf="identity.profile.avatar" [src]="apiUrl + '/files/avatars/' + identity.profile.avatar" alt="" class="avatar">
                <img *ngIf="!identity.profile.avatar" src="assets/images/avatar.png" alt="" class="avatar">
            </div>
            <div class="col-12 col-md-6">
                <h1>{{ identity.profile.first_name }} {{ identity.profile.last_name }} </h1>
                <br>
                <rating [readonly]="true" name="calification" [max]="5" ngModel></rating> &nbsp;
                <button class="btn btn-outline-light">Ver reputación</button>
                <br>
                <h5>{{ allProducts.length }} publicaciones activas</h5>
                <span class="text-white"><a class="text-white" href="#" style="text-decoration:none !important;">{{ count_followers  }} Seguidores</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-white"><a href="#" class="text-white" style="text-decoration:none !important;">{{ count_followeds }} Seguidos</a></span>
            </div>
            <div class="col-12 col-md-3">
                <input (change)="uploadCover($event )" type="file" class="d-none" #cover name="cover">
                <button (click)="cover.click();" class="btn btn-outline-light">Editar Portada</button>
            </div>
        </div>
        <hr style="border-color: #FFF;">
        <div class="row">
            <div class="col-12 col-md-3">
                <button (click)="active = 1" class="btn text-white">Privacidad</button>
            </div>
            <div class="col-12 col-md-3">
                <button (click)="active = 2" class="btn text-white">Mis Operaciones</button>
            </div>
            <!--
                <div class="col-12 col-md-3">
                <button (click)="active = 3"class="btn text-white">Mi Reputación</button>
            </div>
            <div class="col-12 col-md-3">
                <button (click)="active = 4" class="btn text-white">Ayuda</button>
            
            
            </div>-->
        </div>
    </div>
</section>
<section *ngIf="active == 1" id="privacity">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 p-4 mb-5" style="clear:both;">
                <h4 class="text-secondary mt-5 mb-4">Info</h4>
                <button (click)="formInfo = true" class="text-primary text-right mt-5 btn" style="position:absolute; top:25px; right:25px;"><i class="glyph-icon simple-icon-pencil"></i> &nbsp;Editar</button>
                <p *ngIf="!profile?.description && !formInfo">No hay información disponible de este usuario.</p>
                <p *ngIf="profile?.description && !formInfo">{{ profile.description }}</p>
                <form *ngIf="formInfo">
                    <textarea [(ngModel)]="description" (keyup)="setDescription()" (change)="setDescription();" name="description" class="form-control m-2 mb-2" style="background-color: #FFF !important;" placeholder="Texto de la introducción del perfil. 4 líneas de texto o hasta 100 caracteres"></textarea>
                    <h6 *ngIf="length_description <= 100" class="text-secondary text-right">{{length_description}}/100</h6>
                    <h6 *ngIf="length_description > 100" class="text-danger text-right">{{length_description}}/100</h6>
                    <button (click)="formInfo = false;" class="btn text-primary w-40">Cancelar</button>
                    <button (click)="onUpDescription()" class="btn btn-success w-60">Guardar</button>
                    
                </form>
                
                
                <hr style="border-color:#CCCCCC">
                <div class="container  pt-3" style="position:relative;">
                    <button (click)="formUbication = true" class="text-primary text-right btn" style="position:absolute; top:-15px; right:0;"><i class="glyph-icon simple-icon-pencil"></i> &nbsp;Editar</button>
                    <h5 *ngIf="!formUbication && profile?.state && profile?.city" class="text-primary mt-4 mb-4"><i class="iconsminds-map-marker-2"></i> {{ city }}, {{ state.name }}</h5>
                    <h5 *ngIf="!formUbication && !profile?.state && !profile?.city" class="text-primary mt-4 mb-4"><i class="iconsminds-map-marker-2"></i>No hay ubicación disponible</h5>
                    <form *ngIf="formUbication">
                        <input class="form-control mt-4" type="text" name="city" placeholder="Ingresa tu ciudad" [(ngModel)]="city">
                        <ng-select class="form-control mt-2 mb-2" style="padding:0;" [(ngModel)]="state" placeholder="Selecciona tu estado" required [items]="states" bindLabel="name" name="state"></ng-select>
                        <button (click)="formUbication = false;" class="btn text-primary w-40">Cancelar</button>
                        <button (click)="onUpUbication();" class="btn btn-success w-60">Guardar</button>
                        
                    </form>
                </div>
                <hr style="border-color:#CCCCCC">
                <h6 class="mt-3 mb-3" style="color:#444444">Papelito habla</h6>
                <div *ngIf="filesSelected && valFiles" class="form-group mt-2 mb-2" style="padding:0;margin:0">
                    <div  class="container-fluid">
                        <div class="row">
                            <div id="upload-form" *ngFor="let image of filesSelected; let i = index ;" style="padding:0;width:30%;margin:1%;cursor:pointer;">
                                <input #upload type="file" class="d-none" (change)="onThumbnailSelected($event, i)">
                                <div *ngIf="i + 1 === 1 " class="card" style="border-radius:0;padding:0; background-image: url({{ filesSelected[i] || 'assets/images/0.jpg'}});">
                                    <button (click)="clear(i)" class="btn text-white" style="position:absolute; top:0; right:0;"><i class="fa-solid fa-circle-xmark"></i></button>
                                    <div  (click)="upload.click()" class="card-body">
                                        <span class="text-white" style="position:absolute; bottom:5px;left:0; right:0"><i class="fa-sharp fa-solid fa-circle text-primary">&nbsp;</i><strong>Principal</strong></span>
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+ 1 === 2" class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/1.jpg'}}); width: 100%; max-width:100%;height:125px;">
                                    <div class="card-body text-center" style="position:relative; text-center">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                        
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+ 1 === 3 " class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/0.jpg'}}); background-position: center; width: 100%; max-width:100%;height:125px; background-size: cover ;">
                                    <div class="card-body">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+ 1 === 4" class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/1.jpg'}}); width: 100%; max-width:100%;height:125px;">
                                    <div class="card-body text-center" style="position:relative;">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                        
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+ 1 === 5 " class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/0.jpg'}}); background-position: center; width: 100%; max-width:100%;height:125px; background-size: cover ;">
                                    <div class="card-body">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+ 1 === 6" class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/1.jpg'}}); width: 100%; max-width:100%;height:125px;">
                                    <div class="card-body text-center" style="position:relative; text-center">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                        
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+ 1 === 7 " class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] ||  filesSelected[i] || 'assets/images/0.jpg'}}); background-position: center; width: 100%; max-width:100%;height:125px; background-size: cover ;">
                                    <div class="card-body">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+ 1 === 8" class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/1.jpg'}}); width: 100%; max-width:100%;height:125px;">
                                    <div class="card-body text-center" style="position:relative; text-center">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                        
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+ 1 === 9" class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/0.jpg'}}); width: 100%; max-width:100%;height:125px;">
                                    <div class="card-body text-center" style="position:relative; text-center">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                        
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+ 1 === 10" class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/1.jpg'}}); width: 100%; max-width:100%;height:125px;">
                                    <div class="card-body text-center" style="position:relative; text-center;">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                        
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+ 1 === 11" class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/1.jpg'}}); width: 100%; max-width:100%;height:125px;">
                                    <div class="card-body text-center" style="position:relative; text-center;">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!valFiles" class="form-group mt-2 mb-2" style="padding:0;margin:0">
                    <div  class="container-fluid">
                        <div class="row">
                            <div id="upload-form" *ngFor="let i of [1, 2,3,4, 5, 6, 7, 8 , 9 , 10, 11]" style="padding:0;width:30%;margin:1%;cursor:pointer;">
                                <input #upload type="file" class="d-none" (change)="onThumbnailSelectedGallery($event, i)">
                                <div *ngIf="i + 1=== 1 " class="card" style="border-radius:0;padding:0; background-image: url({{ filesSelected[i] || 'assets/images/0.jpg'}});">
                                    <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                    <div (click)="upload.click() " class="card-body">
                                        
                                        <span class="text-white" style="position:absolute; bottom:5px;left:0; right:0"><i class="fa-sharp fa-solid fa-circle text-primary">&nbsp;</i><strong>Principal</strong></span>
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+1 === 2" class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/1.jpg'}}); width: 100%; max-width:100%;height:125px;">
                                    <div class="card-body text-center" style="position:relative; text-center">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                        
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+1 === 3 " class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/0.jpg'}}); background-position: center; width: 100%; max-width:100%;height:125px; background-size: cover ;">
                                    <div class="card-body">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+1 === 4" class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/1.jpg'}}); width: 100%; max-width:100%;height:125px;">
                                    <div class="card-body text-center" style="position:relative;">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                        
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+1 === 5 " class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/0.jpg'}}); background-position: center; width: 100%; max-width:100%;height:125px; background-size: cover ;">
                                    <div class="card-body">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+1 === 6" class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/1.jpg'}}); width: 100%; max-width:100%;height:125px;">
                                    <div class="card-body text-center" style="position:relative; text-center">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                        
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+1 === 7 " class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/0.jpg'}}); background-position: center; width: 100%; max-width:100%;height:125px; background-size: cover ;">
                                    <div class="card-body">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+1 === 8" class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/1.jpg'}}); width: 100%; max-width:100%;height:125px;">
                                    <div class="card-body text-center" style="position:relative; text-center">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                        
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+1 === 9" class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/0.jpg'}}); width: 100%; max-width:100%;height:125px;">
                                    <div class="card-body text-center" style="position:relative; text-center">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                        
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+1 === 10" class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/1.jpg'}}); width: 100%; max-width:100%;height:125px;">
                                    <div class="card-body text-center" style="position:relative; text-center;">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                        
                                    </div>
                                </div>
                                <div (click)="upload.click() " *ngIf="i+1 === 11" class="card" style="border-radius:0;padding:0; background-image: url({{filesSelected[i] || 'assets/images/1.jpg'}}); width: 100%; max-width:100%;height:125px;">
                                    <div class="card-body text-center" style="position:relative; text-center;">
                                        <button class="btn text-white" style="position:absolute; top:0; right:0;"><i (click)="clear(i)" class="fa-solid fa-circle-xmark"></i></button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button (click)="uploadPapers()" class="btn text-primary w-100 mt-3 mb-3"><i class="glyph-icon iconsminds-camera-3"></i> Subir Fotos</button>
                <app-sidebar-universe (filterEvent)="filterEvent($event)"></app-sidebar-universe>
            </div>
            <div class="col-12 col-md-1"></div>
            <div class="col-12 col-md-7 mt-5">
                <button routerLink="/publish-product" class="btn btn-success w-48 mt-5">
                    Quiero Vender
                </button>
                <button routerLink="/" class="btn btn-primary w-50 mt-5">
                    Quiero Comprar
                </button>
                <div *ngFor="let product of products" class="card mt-3 mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <img *ngIf="!identity.profile.avatar" src="assets/images/avatar.png" alt="" style="width:100%;">
                                <img *ngIf="identity.profile.avatar" [src]="apiUrl + '/files/avatars/' + identity.profile.avatar" alt="" style="width:100%;">
                            </div>
                            <div class="col-10">
                                <h4><strong>{{ identity.username }} </strong></h4>
                                <span class="text-secondary">{{ product.created_at | date: 'dd/MM/yyyy '}}</span>
                                <br>
                                <span class="text-success d-none">VENDO</span>&nbsp;<span class="text-secondary">Quedan {{product.duration}} dias</span>
                            </div>
                        </div>
                        <hr style="border-color:#CCCCCC">
                        <div class="row">
                            <div class="col-12">
                                <h2 style="color:#444444">{{ product.tile}}</h2>
                                <p style="color:#444444">{{ product.description }}</p>
                                <img *ngIf="!product.thumbnail" src="assets/images/product.png" alt="" style="width:100%;">
                                <img *ngIf="product.thumbnail" [src]="apiUrl + '/files/products/' + product.thumbnail" alt="" style="width:100%;">
                                <div *ngIf="product.likers.length > 0" class="row">
                                    <div class="col-12">
                                        <h6><strong>{{ product.likers.length }} </strong><span *ngIf="product.likers.length === 1">Me gusta</span> <span *ngIf="product.likers.length > 1">Me gustas</span></h6>
                                    </div>
                                </div>
                                <hr style="color:#444444">
                                <div class="row">
                                    <button *ngIf="product.likers.indexOf(identity?.id) == -1" class="btn w-23 text-primary" (click)="like(product.id)"><i class="glyph-icon simple-icon-heart"></i> Me gusta</button>
                                    <button *ngIf="product.likers.indexOf(identity?.id) != -1" class="btn w-23 text-primary" (click)="dislike(product.id)"><i class="glyph-icon simple-icon-heart"></i> No me gusta</button>
                                    <button class="btn w-23 text-primary"><i class="glyph-icon iconsminds-speach-bubbles"></i> Comentarios</button>
                                    <button class="btn w-23 text-primary" (click)="twin(product.id)"><i class="glyph-icon simple-icon-bubble"></i> Twin</button>
                                    <button class="btn w-25 text-primary" (click)="share(product.id)"><i class="glyph-icon iconsminds-sharethis"></i> Compartir</button>
                                </div>
                                
                            </div>
                        </div>
                        <hr style="color:#444444">
                        <div class="card">
                            <div class="card-body">
                                <div *ngIf="product.comments?.length == 0" class="row text-center">
                                    <p class="text-center">No hay comentarios en este producto...</p>
                                </div>
                                <div *ngFor="let comment of product.comments; let i = index" class="row">
                                    <div class="avatar col-md-1">
                                        <img *ngIf="!comment.user.profile.avatar" src="assets/images/avatar.png" alt="" style="width:100%;">
                                        <img *ngIf="comment.user.profile.avatar" src="{{ API_ENDPOINT + '/files/avatars/' + comment.user.profile.avatar }}" alt="" style="width:100%;">
                                    </div>
                                    <div class="comment col-md-11 p-3" style="border:1px solid #ccc; border-radius:30px;">
                                        <strong>@{{comment.user.username}}</strong>
                                        <p>{{ comment.content }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row d-flex align-items-center">
                                    <div class="col-1">
                                        <img *ngIf="!identity.profile.avatar" src="assets/images/avatar.png" alt="" style="width:100%;">
                                        <img *ngIf="identity.profile.avatar" src="{{ API_ENDPOINT + '/files/avatars/' + identity.profile.avatar }}" alt="" style="width:100%;">
                                    </div>
                                    <div class="col-11">
                                        <form #newComment="ngForm" (ngSubmit)="publishComment(product.id,newComment.value)">
                                            <input ngModel name="content" #content  style="border-radius:30px;" type="text" class="form-control" placeholder="Escribe un comentario">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="color:#444444">
                        <div class="row">
                            <div class="col-4">
                                <img src="assets/images/eom-coin-transparent.png" alt="" style="width:50px;">
                                <span class="bg-primary p-2 text-white ml-2" style="border-radius:30px;">T. {{ product.price }}</span>
                            </div>
                            <div class="col-8">
                                <div class="btn btn-primary w-100">Comprar</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="active == 2" id="operations">
    <div class="container mt-2 mb-2">
        <div class="card" style="padding:0;margin:0;">
            <div class="card-body" style="">
                <h3 class="card-title text-secondary">Balance</h3>
                <hr style="border-color:#CCC">
                <div class="row ">       
                    <div class="col-4 card">
                        <div class="card-body d-flex align-items-center">
                            <div class="row">
                                <div class="col-4">
                                    <img src="assets/images/eom-coin-transparent.png" alt="" style="width:100%;">
                                </div>
                                <div class="col-8">
                                    <h4 class="card-subtitle">Saldo Actual</h4>
                                    <br>
                                    <span class="bg-primary p-2 text-white ml-2" style="border-radius:30px;">T. {{ account.balance }}</span>
                                </div>
                            </div>
                        </div>     
                    </div>
                    <div class="col-4 card">
                        <div class="card-body d-flex align-items-center">
                            <div class="row">
                                <div class="col-4">
                                    <img src="assets/images/eom-coin-transparent.png" alt="" style="width:100%;">
                                </div>
                                <div class="col-8">
                                    <h4 class="card-subtitle">Compras</h4>
                                    <br>
                                    <span class="bg-primary p-2 text-white ml-2" style="border-radius:30px;">T. {{ boughts.balance }}</span>
                                </div>
                            </div>
                        </div>     
                    </div>
                    <div class="col-4 card">
                        <div class="card-body d-flex align-items-center">
                            <div class="row">
                                <div class="col-4">
                                    <img src="assets/images/eom-coin-transparent.png" alt="" style="width:100%;">
                                </div>
                                <div class="col-8">
                                    <h4 class="card-subtitle">Ventas</h4>
                                    <br>
                                    <span class="bg-primary p-2 text-white ml-2" style="border-radius:30px;">T. {{ sales.balance }}</span>
                                </div>
                            </div>
                        </div>     
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-6">
                <button (click)="compras = true; ventas = false;" class="btn w-100 text-primary">COMPRAS</button>
            </div>
            <div class="col-6">
                <button (click)="compras = false; ventas = true;"  class="btn w-100 text-darken">VENTAS</button>
            </div>
        </div>
        <div *ngIf="compras" class="row">
            <div class="col-12">    
                <div class="card">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-secondary">Tus compras del <span class="text-primary">31/11/2022</span> al <span class="text-primary">31/12/2022</span></h3>
                            <hr style="border-color:#CCC;">
                            <p *ngIf="boughts_data.length < 1" class="text-center text-secondary">Aún no has hecho compras en la plataforma.</p>
                            <div *ngFor="let bought of boughts_data" class="container-fluid">
                                <form *ngIf="bought.product.display" #calificationForm="ngForm" (ngSubmit)="calification(bought.product, calificationForm.value )">
                                    <div class="row">
                                        <div class="col-3 text-center d-flex align-items-center">
                                            <div>
                                                <h5 class="text-center text-darken">¿Cómo calificas al vendedor</h5>
                                                <rating ngModel name="buyer_points" [max]="5"></rating> &nbsp;
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-3">
                                                    <img *ngIf="bought.product.buyer.profile.avatar" [src]="apiUrl + '/files/avatars/' + bought.product.buyer.profile.avatar">
                                                    <img *ngIf="!bought.product.buyer.profile.avatar" src="assets/images/avatar.png" alt="" style="width:100%;">
                                                </div>
                                                <div class="col-9 d-flex align-items-center">
                                                    <input ngModel name="buyer_comment" type="text" class="form-control form-control-eom" placeholder="Escribe tu reseña del producto">
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-3 d-flex align-items-center">
                                            <button type="submit" class="btn w-100 btn-success text-white">Calificar</button>
                                        </div>
                                        <div class="col-12">
                                            <hr style="border-color:#CCC;">
                                        </div>
                                    </div> 
                                </form>
                                  
                                <div *ngIf="!bought.product.display" class="row d-flex align-items-center">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-3">
                                                <img *ngIf="bought.product.seller.profile.avatar" [src]="apiUrl + '/files/avatars/' + bought.product.seller.profile.avatar">
                                                <img *ngIf="!bought.product.seller.profile.avatar" src="assets/images/avatar.png" alt="" style="width:100%;">
                                            </div>
                                            <div class="col-9 d-flex align-items-center">
                                                <p>
                                                    <span><strong class="text-darken">{{ bought.product.title }}</strong></span>
                                                <br>
                                                <span class="text-secondary">{{ bought.product.created_at | date: 'medium'}}</span>
                                                <br>
                                                </p>
                                                <br>
                                                &nbsp;
                                                <h1><rating *ngIf="bought.product.calification.buyer_points" [(ngModel)]="bought.product.calification.buyer_points" name="buyer_points" [max]="5"></rating></h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <button *ngIf="!bought.product.calification.buyer_points" (click)="bought.product.display = true " class="btn w-100 text-primary" style="border-right: 1px solid #CCC; border-left: 1px solid #CCC;">Calificar a Vendedor</button>
                                        <p *ngIf="bought.product.calification.buyer_points" class="text-center">
                                            "{{ bought.product.calification.buyer_comment }}"
                                        </p>
                                    </div>
                                    <div class="col-3">
                                        <button class="btn w-100 text-primary" style=" border-right: 1px solid #CCC;">Abrir Caso</button>
                                    </div>
                                    <div class="col-12">
                                        <hr style="border-color:#CCC;">
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="ventas" class="row">
            <div class="col-12">    
                <div class="card">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-secondary">Tus ventas del <span class="text-primary">31/11/2022</span> al <span class="text-primary">31/12/2022</span></h3>
                            <hr style="border-color:#CCC;">
                            <p *ngIf="sales_data.length < 1" class="text-center text-secondary">Aún no has hecho ventas en la plataforma.</p>
                            <div *ngFor="let sale of sales_data" class="container-fluid">
                                <form *ngIf="sale.product.display" #calificationForm="ngForm" (ngSubmit)="calification(sale.product, calificationForm.value )">
                                    <div class="row">
                                        <div class="col-3 text-center d-flex align-items-center">
                                            <div>
                                                <h5 class="text-center text-darken">¿Cómo calificas al comprador?</h5>
                                                <rating ngModel name="saler_points" [max]="5"></rating> &nbsp;
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-3">
                                                    <img *ngIf="sale.product.buyer.profile.avatar" [src]="apiUrl + '/files/avatars/' + sale.product.buyer.profile.avatar">
                                                    <img *ngIf="!sale.product.buyer.profile.avatar" src="assets/images/avatar.png" alt="" style="width:100%;">
                                                </div>
                                                <div class="col-9 d-flex align-items-center">
                                                    <input ngModel name="saler_comment" type="text" class="form-control form-control-eom" placeholder="Escribe tu reseña del producto">
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-3 d-flex align-items-center">
                                            <button type="submit" class="btn w-100 btn-success text-white">Calificar</button>
                                        </div>
                                        <div class="col-12">
                                            <hr style="border-color:#CCC;">
                                        </div>
                                    </div> 
                                </form>
                                <div *ngIf="!sale.product.display" class="row d-flex align-items-center">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-3">
                                                <img *ngIf="sale.product.buyer.profile.avatar" [src]="apiUrl + '/files/avatars/' + sale.product.buyer.profile.avatar">
                                                <img *ngIf="!sale.product.buyer.profile.avatar" src="assets/images/avatar.png" alt="" style="width:100%;">
                                            </div>
                                            <div class="col-9 d-flex align-items-center">
                                                <p>
                                                    <span><strong class="text-darken">{{ sale.product.title }}</strong></span>
                                                <br>
                                                <span class="text-secondary">{{ sale.product.created_at | date: 'medium'}}</span>
                                                <br>
                                                <rating *ngIf="sale.product.calification.saler_points" [(ngModel)]="sale.product.calification.saler_points" name="saler_points" [max]="5"></rating>
                                                </p>
                                                <br>
                                                &nbsp;
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <button *ngIf="!sale.product.calification.saler_points" (click)="sale.product.display = true " class="btn w-100 text-primary" style="border-right: 1px solid #CCC; border-left: 1px solid #CCC;">Calificar a Comprador</button>
                                        <p *ngIf="sale.product.calification.saler_points" class="text-center">
                                            "{{ sale.product.calification.saler_comment }}"
                                        </p>
                                    </div>
                                    <div class="col-3">
                                        <button class="btn w-100 text-primary" style=" border-right: 1px solid #CCC;">Abrir Caso</button>
                                    </div>
                                    <div class="col-12">
                                        <hr style="border-color:#CCC;">
                                    </div>
                                </div>
                            </div>
                                                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="active == 3" id="reputation">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card mt-3 mb-3">
                    <div class="card-body">
                        <h5 class="card-title" style="color:#444444;">
                            Tu reputacion del <span class="text-primary">31/11/2022</span> al <span class="text-primary">31/12/2022</span>
                        </h5>
                        <hr style="border-color:#CCCCCC;">
                        
                        <div class="row">
                            <div class="col-1">
                                <img src="assets/images/avatar.png" alt="" style="width:100%;">
                            </div>
                            <div class="col-10">
                                <h3 class="card-subtitle text-secondary">
                                    <span class="text-success">VENTA</span> | <strong class="text-dark">Nombre del producto</strong>
                                </h3>
                                
                                <h5 class="card-subtitle text-secondary">
                                    16/11/2022  - Hora de compra                       
                                </h5>
                                <hr style="border-color:#CCCCCC;">
                                <br>
                                <div class="row">
                                    <div class="col-1">
                                        <img src="assets/images/avatar.png" alt="" style="width:100%;">
                                    </div>
                                    <div class="col-11">
                                        <div class="card" style="background-color:#f5f5f5;">
                                            <div class="card-body">
                                                <h5 class="card-title">José Granado</h5>
                                                <p class="card-text">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis at id atque accusantium accusamus magnam praesentium in cum vero, eius libero, sit impedit obcaecati molestias laudantium facilis aliquid tenetur voluptates!m
                                                </p>
                                                <p class="card-text text-right"><a href="#">Responder</a></p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-1">
                                                <img src="assets/images/avatar.png" alt="" style="width:100%;">
                                            </div>
                                            <div class="col-11">
                                                <input type="text" class="form-control form-control-eom" style="background-color:#FFF;" placeholder="Escribe tu reseña del producto ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr style="border-color:#CCCCCC;">
                        <br>
                        <div class="row">
                            <div class="col-1">
                                <img src="assets/images/avatar.png" alt="" style="width:100%;">
                            </div>
                            <div class="col-10">
                                <h3 class="card-subtitle text-secondary">
                                    <span class="text-primary">COMPRA</span> | <strong class="text-dark">Nombre del producto</strong>
                                </h3>
                                
                                <h5 class="card-subtitle text-secondary">
                                    16/11/2022  - Hora de compra                       
                                </h5>
                                <hr style="border-color:#CCCCCC;">
                                <br>
                                <div class="row">
                                    <div class="col-1">
                                        <img src="assets/images/avatar.png" alt="" style="width:100%;">
                                    </div>
                                    <div class="col-11">
                                        <div class="card" style="background-color:#f5f5f5;">
                                            <div class="card-body">
                                                <h5 class="card-title">José Granado</h5>
                                                <p class="card-text">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis at id atque accusantium accusamus magnam praesentium in cum vero, eius libero, sit impedit obcaecati molestias laudantium facilis aliquid tenetur voluptates!m
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="active == 4" id="help">
    Help works!
</section>