<nav id="sidebar" class="bg-white">
    <ul style="list-style:none !important;">
        <li>
            <a routerLink="/dashboard">
                <i class="glyph-icon iconsminds-dashboard"></i>
                <span>
                    Dashboard
                </span>
            </a>
        </li>
        <li>
            <a routerLink="/dashboard/users">
                <i class="glyph-icon simple-icon-user"></i>
                <span>
                    Usuarios
                </span>
            </a>
        </li>
    </ul>
</nav>
