<eom-header></eom-header>
<section id="product-page">
    <div class="jumbotron bg-primary text-white" style="height:300px">
        <div class="row d-flex- align-items-center justify-content-center">
            <div class="col-2">
                <img src="assets/images/eom-coin-transparent.png" alt="" style="width:100%">
            </div>
            <div class="col-10">
                <h1>El único lugar donde <BR> puedes <strong>comprar sin dinero.</strong></h1>
            </div>
        </div>
    </div>
    <
    <main style="padding:50px">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <h2>Filtros de búsqueda</h2>
                </div>
                <div class="col-12 col-md-1"></div>
                <div class="col-12 col-md-7" style="clear:both;">
                    <button class="btn btn-success pl-5 pr-5 btn-block w-100">Publicar Producto</button>
                    <br>
                    <div class="row">
                    <div class="card w-100" style="border-radius:0 !important;">
                        <div class="card-body">
                            <h2 class="card-title">
                                <div class="row d-flex align-items-center">
                                    <div class="col-2">
                                        <img src="assets/images/avatar.png" alt="" style="max-width:100px; height:100px;">
                                    </div>
                                    <div class="col-10">{{ identity.profile?.first_name }}, <span class="text-success">¿Qué quieres vender?</span></div>
                                </div>
                            </h2>
                                <hr>
                                <form #newProduct="ngForm" (ngSubmit)="onSubmit(newProduct.value)">
                                    <div class="form-group">
                                        <label for="" class="control-label">Categoría</label>&nbsp;
                                        <ng-select ngModel placeholder="Selecciona la categoría" ngModel required [items]="categories" bindLabel="name" name="category"></ng-select>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="control-label">Título <br></label>&nbsp;
                                        <input type="text" ngModel class="form-control" name="title" placeholder="Título del producto">
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="control-label">Descripción <br> </label>&nbsp;
                                        <textarea ngModel placeholder="Describe el producto" name="description" id="" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="control-label">Uso</label>&nbsp;
                                        <ng-select ngModel placeholder="Selecciona la categoría" ngModel required [items]="options_used" bindLabel="name" name="used"></ng-select>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="control-label">Precio</label>&nbsp;
                                        <input name="price" type="number" class="form-control" ngModel required placeholder="Ingresa el precio del producto">
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="control-label">Duración</label>&nbsp;
                                        <button [ngClass]="{'btn-primary': duration === 5 }"(click)="setDuration(5)" class="btn btn-outline-primary pl-4 pr-4 pt-2 pb-2" style="border-radius:30px !important;">5 días</button>&nbsp;
                                        <button [ngClass]="{'btn-primary': duration === 15 }"(click)="setDuration(15)"class="btn btn-outline-primary pl-4 pr-4 pt-2 pb-2" style="border-radius:30px !important;">15 días</button>&nbsp;
                                        <button [ngClass]="{'btn-primary': duration === 30 }"(click)="setDuration(30)"class="btn btn-outline-primary pl-4 pr-4 pt-2 pb-2" style="border-radius:30px !important;">30 días</button>&nbsp;
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">PUBLICAR PRODUCTO</button>
                                    </div>
                                </form>
                            
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
<eom-footer></eom-footer>

