.nav-link-disabled{
    cursor: pointer;
    pointer-events:none;
}
#dropdown{
    position: absolute !important;
    margin: auto !important;
    width: 20% !important;
    margin-left: 80% !important;
}
.navbar{
    width: 100%;
    position:fixed;
    z-index:99999999;
}